<div class="disk-usage-widget">
    <progress value="{{ percentUsed }}" {% if percentUsed > 0.9 %}class="critical"{% endif %}></progress>
    <br>
    {{ used }} / {{ total }}
</div>

{% css %}
    .disk-usage-widget progress {
        border: initial;
    }
    .disk-usage-widget progress.critical {
        accent-color: #D61F2B;
    }
{% endcss %}
